<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center pb-3">Sign Up</h1>
            <div *ngIf="error; else signupSuccess" class="alert alert-danger">

                <p class="text-center mb-0">{{error.error | titlecase}}</p>

            </div>
            <ng-template #signupSuccess>
                <div class="alert alert-success" >
                    <p class="text-center mb-0">{{message | titlecase}}</p>
                </div>
            </ng-template>
            <form #signupForm="ngForm">
                <div class="form-group">
                    <label for="exampleInputEmail1">User Name</label>
                    <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
                        placeholder="Enter User Name" required name="name" [(ngModel)]="signupData.name"
                        #name="ngModel">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger mt-2">
                        <div *ngIf="name.errors.required">
                            Username is required
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                        placeholder="Enter email" required name="email" [(ngModel)]="signupData.email" #email="ngModel">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-2">
                        <div *ngIf="email.errors.required">
                            Email is required
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                        required name="password" [(ngModel)]="signupData.password" #password="ngModel">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)"
                        class="alert alert-danger mt-2">
                        <div *ngIf="password.errors.required">
                            password is required
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-success" (click)="signupFormData()"
                    [disabled]="signupForm.invalid">Signup</button>
            </form>
        </div>
    </div>
</div>